---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/SectionsPages/About.astro";
import Education from "@/components/SectionsPages/Education.astro";
import Experience from "@/components/SectionsPages/Experience.astro";
import Hero from "@/components/SectionsPages/Hero.astro";
import Projects from "@/components/SectionsPages/Projects.astro";
import Skills from "@/components/SectionsPages/Skills.astro";
import KeyboardHandler from "@/components/KeyboardHandler.astro";
---

<Layout title="Alvaro Avila - Portfolio">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Projects />
  </main>
  <KeyboardHandler />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
